.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columna {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
    
}

.movieImage {
    border-radius: 15px;
}

.firstItem {
    margin-top: 0;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}